<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Sign Up</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="container">
        <div class="content">
    <h1>Sign Up as a Volunteer</h1>
    <div class="form-content">
    <form action="/form" method="post">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required><br>

        <label for="region">Region:</label>
        <input type="text" id="region" name="region" required><br>

        <label for="contact">Contact Number:</label>
        <input type="text" id="contact" name="contact" required><br>

        <center><button type="Submit" class="Submit">Submit</button></center>
    </form>
    </div>
    </div>
    </div>
</body>
</html>
