<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="card-container">
        <h1 class="gradient-text">Thank You!</h1>
        <div class="card">
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis totam architecto deleniti ab laboriosam at molestiae rem quidem cupiditate, harum, quod aut labore. Cupiditate error, tempore nisi obcaecati natus ex.</p>
            </div>
            <a href="#" class=""></a>
        </div>
    </div>
</body>
</html>
