<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="card-container">
        <h1 class="gradient-text">Thank you!</h1>
        <div class="card">
            <div class="card-content">
                <p>Dear Volunteers,<br><br>

                    We extend our deepest gratitude to each of you for your selfless decision to join our disaster management team. Your willingness to step up during times of crisis is not only commendable but truly inspiring. In moments when uncertainty and fear prevail, your courage and dedication shine brightly, bringing hope to those who need it most. Every effort you make, no matter how big or small, contributes to the resilience of our community and the safety of countless lives. The time, energy, and compassion you offer are invaluable, and we are incredibly fortunate to have such a devoted team of volunteers. Your actions are a testament to the power of unity and the strength of the human spirit. Thank you for standing with us in this crucial mission and for being the backbone of our disaster response efforts. Together, we can and will make a difference.</p>
            </div>
            <center><a href="/index" class="redirect-btn">Back to home</a></center>
        </div>
    </div>
</body>
</html>
