* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e1131;
    /* background-image: linear-gradient(45deg, #2e1131, #8f31be); */
}

.card-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gradient-text {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #ff6f61, #8f31be);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.card {
    background-color: #8f31be;
    height: 300px;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

.card-content p {
    font-size: x-large;
    background: linear-gradient(to right, #ffffff, #c0c0c0); /* Adjust gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
