
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #e3cfe8; 
}

.article-summary, .article-content {
    background: #ffffff; 
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4B0082; 
    font-size: 2em; 
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #4B0082; 
    font-size: 1.5em; 
    margin-top: 20px;
    margin-bottom: 10px;
}

p, ul {
    color: #333; 
    font-size: 1.1em; 
    line-height: 1.8;
    margin-bottom: 15px;
    list-style-type: disc;
    padding-left: 20px;
}


a {
    display: inline-block;
    margin-top: 20px;
    color: #e74c3c; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #c0392b; 
}

.back-link {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

.back-link:hover {
    color: #333; /* Darker shade on hover */
    text-decoration: none; /* Ensure no underline on hover */
}


.youtube-link {
    color: #4B0082; 
    text-decoration: none;
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.youtube-link:hover {
    color: #6A0DAD; 
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust this value for spacing */
}

.get-help-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #1536a2;
    background-color: transparent;
    border: 2px solid #f6f5f5;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: lightblue;
}

.get-help-button:hover {
    background-color: lightblue;
    color: #1536a2;
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

.images-before-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.curved-corner-image {
    width: 30%; 
    height: auto;
    border-radius: 10px; 
    margin-right: 10px; 
}

.curved-corner-image:last-of-type {
    margin-right: 0; 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 0 auto; 
}

.responsive-earthquake-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px; 
}
.responsive-flood-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px; 
}
.responsive-tsunami-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px; 
}

.responsive-sandstorm-image {
    max-width: 100%;
    height: auto; 
    border-radius: 10px; }

    .responsive-Landslide-image {
        max-width: 100%;
        height: auto; 
        border-radius: 10px; }
    