@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;  
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
}

body.light-mode header{
    background-color: #370d3c;
    color:white;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600; 
    flex-shrink: 0;
}
.side-menu{
    display:flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: purple;
}

nav{
    width:100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .links{
    display:flex;
    gap:2rem;
}
nav .toggle_btn{
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
}

.action_btn{
    color:white;
    background-color: rgb(162, 91, 162);
    padding: 0.5rem 1rem;
    border: none;
    outline:none;
    border-radius:20px;
    font-weight:bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}
section {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
body.light-mode section{
    background-color: #f8ecf8;
}
section:nth-child(odd) {
    background: #323946;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width:300px;
    height: 0;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275)
}  

.dropdown_menu.open{
    height: 300px;
}

.dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    color: white;
}
body.light-mode .dropdown_menu a{
    color: purple;
}
.dropdown_menu a:hover,
.dropdown_menu a.active {
    color: purple;
}
body.light-mode .dropdown_menu a:hover,
.dropdown_menu a.active{
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.sliderbutton {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.sliderbutton:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .sliderbutton {
    background-color: #ddafe9; /* Blue */
}
input:checked + .sliderbutton:before {
    transform: translateX(20px);
}
.sliderbutton.round {
    border-radius: 34px;
}
.sliderbutton.round:before {
    border-radius: 50%;
}


@media(max-width:992px){
    nav .links, nav .action_btn{
        display:none;
    }
    nav .toggle_btn{
        display:block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (min-width: 993px) {
    .dropdown_menu {
        display: none !important;
        height: 0 !important;
    }

    nav .links {
        display: flex !important;
    }

    nav .toggle_btn {
        display: none !important;
    }
}

@media(max-width:576px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }

}